@charset "UTF-8"
body{background-color: #c5ebd6;
font-family: var(--font-padrao) ;}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  
@font-face {
    font-family: 'andoid';
    src: url('Android.ttf') format('opentype');
} 
  



*{margin:0px;
padding: 0px;}

:root{
    --cor1:#ebe5c5;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#063d1e;
--fonte-padrao:arial,verdana,sans-serif;
--fonte-destaque: 'Bebas Neue',cursive;
--fonte-andoid: 'android', cursive;

}


header{ background-image: linear-gradient(to bottom, #3ddc84, #063d1e );
padding: 0px;
}
header>h1{ font-family: var(--fonte-destaque);
color: white;
text-align: center;
margin-bottom: 23px;
text-indent: 10px;}
header>p{color: white;}
main{background-color: white;
min-width: 300px;
max-width: 1151px;
margin: auto;
box-shadow: 0px 0px 15px black;
margin-bottom: 0px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;


}
h1#oi{text-shadow: 2px 2px 0px black;}

main>h1{color:white;
font-family: var(--fonte-andoid)}

main h2{ color: ;}

footer{ text-decoration: none;
    background-color:var(--cor4);
color: white;
margin: auto;
border-radius: 20px;
padding: 0px;
max-width: 1151px;}
aside#pk{margin: 0px;
padding: 40px;}
p#kl{padding: 10px;}
p#gus{margin:auto;
padding: 3px;
min-width: 90px;
height: 20px;
text-align: center;
border-radius: 10px;
max-width: 1300px;
}


h1#cor{color: var(--cor5);
text-indent: 25px;}

p#pol{text-indent: 15px;
text-align: center;
font-family: var(--fonte-padrao);
font-size: 19px;
max-width: 500px;
margin: auto;
text-shadow: 2px 2px 0px black;

}

main>img{ width: 100%;
margin: auto;
text-align: center;}

main img.pequena{display: block;
width: 50%;
margin:auto;}

main iframe.video{display: block;
width: 90%;
margin: auto;}
nav{background-color: var(--cor5);
padding:11px;
text-shadow: 2,5px 2,5px 0px black;
margin-bottom: 0px;
height: 20px;
}

nav>a{color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;}
    nav>:hover{background-color: var(--cor4);}
    nav>a::after{background-color:  blue;}
    p.paragrafo{text-indent: 32px;}
    h2.subtitulo{text-indent: 25px;
    background-image: linear-gradient(to right, #2fa866, transparent );}
    main>img.pequena{max-width: 350px;}
    div{text-align: center;}
   main.img{width: 100%;}
   img#irina{width: 1080px;
    max-width: 100%;
}
   p{margin: 15px 0px 10px 5px;
text-align: justify;
line-height: 1,5em;}
main strong{font-size: 19px;
font-weight: bolder;
margin: 3,5px;
padding: 5px;
}
main a{background-color:chartreuse;
font-weight: bolder;
margin: 4px;
padding: 3,5px;
text-decoration: none;}
footer a{text-decoration: none;
color:aqua
border-radius: 20px;
}
a#kaio:hover{background-color:deepskyblue;
border-radius: 10px;}
a#fernandes:hover{background-color:deepskyblue;
    border-radius: 10px;}
    a#kaio:visited{color:rgb(43, 43, 223);}
a#fernandes{color:rgb(43, 43, 223)}
aside{background-color: var(--cor3);
margin: 0px;
border-radius: 11px;
box-shadow: 1px 1px 0px 0px  black ;}
h3#h3{background-image: linear-gradient(to right, #063d1e,aqua );
padding: 5.5px;
margin: -40px -40px 0px -40px;
border-radius: 7px  7px 0px 0px;}
div.videos{margin: 10px;
background-color: #063d1e;}




